<style>  
	body {background: url('http://cl.ly/image/0H3H1p0P1m1U/cloudy.png') no-repeat center center fixed;
    background-size:cover;
	color:grey;}
</style>
<h1>Today in <%=@city_name[1] %></h1>
<h1> It's going to be a drab day, <br> expect cloudy skies.</h1>
