<style>  
	body {background: url('http://cl.ly/image/1N1v0h1J3r3e/map.png') no-repeat center center fixed;
    background-size:cover;
	color:PowderBlue;}
</style>
<h1>hmmm.... I can't tell <br> what the weather is like where you are.</h1>