<style>  
	body {background: url('http://cl.ly/image/3n2v0436331u/sunny.png') no-repeat center center fixed;
    background-size:cover;
	color:Gold;}
</style>
<h1>Today in <%=@city_name[1] %></h1>
<h1>It's going to be SUNNY, <br> you better put sunscreen on. </h1>
