<style>  
	body {background: url('http://cl.ly/image/030g3f0S3z0N/rainy.png') no-repeat center center fixed;
    background-size:cover;
	color:LightSlateGray;}
</style>
<h1>Today in <%=@city_name[1] %></h1>
<h1 >Grab your raincoat <br>because it's going to RAIN. </h1>